#root,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  height: calc(100% - 20px);
}

body {
  margin: 20px;
}

#root {
  margin-right: 50px;
}

* {
  -webkit-print-color-adjust: exact;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
